<h1>Détails d'un film :</h1>
<div *ngIf="film">
  <ul>
    <li>Titre : {{this.film.titre}}</li>
    <li>Durée : {{this.film.duree}}min</li>
    <li>Catégorie : {{this.film.categorie.libelleCat}}</li>
    <li>Date de sortie : {{this.film.dateSortie}}</li>
    <li>Budget : {{this.film.budget}}</li>
    <li>Recette : {{this.film.montantRecette}}</li>
    <li>Personnages :
      <ul>
        <li *ngFor="let personnage of film.personnages">{{personnage.nomPers}}</li>
      </ul>
    </li>
  </ul>
</div>
